/* Variables */
:root {
    --color-background: rgb(230, 230, 230);

    --color-primary: rgb(28, 60, 146);
    --color-primary-darker: rgb(12, 49, 150);
    --color-primary-text: rgb(245, 245, 245);

    --color-secondary: rgb(255, 150, 60);
    --color-secondary-darker: rgb(235, 120, 40);
    --color-secondary-text: rgb(25, 25, 25);

    --color-accent: rgb(160, 15, 80);
    --color-accent-darker: rgb(135, 25, 75);
    --color-accent-text: rgb(245, 245, 245);

    --color-table: rgb(45, 45, 45);
    --color-table-border: rgb(90, 90, 90);
    --color-table-text: rgb(245, 245, 245);

    --color-prompt: rgb(25, 30, 45);
    --color-prompt-text: rgb(245, 245, 245);

    --color-response: rgb(65, 35, 45);
    --color-response-darker: rgb(50, 28, 35);
    --color-response-text: rgb(245, 245, 245);

    --color-modal: rgb(230, 230, 230);
}


/* Layout */
html,
body {
    background-color: var(--color-background);
    font-family: 'Calibri', Arial, sans-serif;
    /* Fluid Typography */
    font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
p {
    font-weight: bold;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

header {
    margin-bottom: 3rem;
}

section {
    margin-bottom: 3rem;
}

button {
    cursor: pointer;
    border-radius: 2.5rem;
    font-size: 1.25rem;
    margin: 0 0.5rem;
    padding: 0.75rem 1rem;
}

button.primary {
    background-color: var(--color-accent);
    color: var(--color-accent-text);

}

button:hover.primary,
button:focus.primary,
button:active.primary {
    background-color: var(--color-accent-darker);
}

button.secondary {
    background-color: var(--color-secondary);
    color: var(--color-secondary-text);
}

button:hover.secondary,
button:focus.secondary,
button:active.secondary {
    background-color: var(--color-secondary-darker);
}

textarea {
    height: 100%;
    min-height: 5rem;
    width: 100%;
    resize: none;
    padding: 0.75rem 1rem;
}


/* Helpers */
.cont {
    padding: 1rem 2rem;
}

.hl {
    background-color: var(--color-accent);
    color: var(--color-accent-text);
}

.hide {
    display: none !important;
}
